# Eclipse artifacts
.metadata
target/
bin/
doc/
gen/
.settings/
.classpath
.project

# Gradle
.gradle
build/
gradle.properties
local.properties

# Android-Build gradle wrapper
Android-Build/gradle/
Android-Build/gradlew
Android-Build/gradlew.bat

# Database files, scan image files
data/
*.db
*.sqlite
*_scan_qr.jpg

# Mac 
.DS_Store

# IntelliJ specific fields
.idea/

# File-based project format
*.ipr
*.iws
*.iml

# log files
logs/

# reports
tools/reports/*

# Object aid files(class diagrams)
*.ucls

# temp files
tmp
OBDAdapter/obdadapterzirk/gradle/
OBDAdapter/obdadapterzirk/gradlew
OBDAdapter/obdadapterzirk/gradlew.bat
